junk/
out/
output/
target/
reports/
package/
lib_managed/
src_managed/
project/boot/
project/plugins/project
java_pid*.hprof
wip/
.DS_Store
*.swp
.ensime
*.iml
*.log
.dbshell
*.tok
.idea/
*.enc
*.cache
.classpath
.project
.settings
.cache
projectFilesBackup/
2016*
site/pages/scan*
site/pages/index.html
assetFinder.trace.db
*/env/*
*__pycache__*
.pioenvs
.clang_complete
.gcc-flags.json
